@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.sidebar {
  padding: 36px 21px 25px 21px;
  background-color: $bg-light;
  display: flex;
  flex-direction: column;
  align-items: center;
	height: 100vh;

  &__logo {
    @include flex-center;

    font-family: "Inter", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: $color-white;
    background: $bg-pink;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    margin-bottom: 46px;
  }

  &__button {
    transition: background-color 0.3s ease;
    margin-bottom: 48px;
    &:hover {
      svg line {
        stroke: $color-pink;
      }
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &-link {
      @include flex-center;

      &:hover {
        svg {
          path {
            fill: $color-pink;
          }
          rect,
          circle,
          line {
            stroke: $color-pink;
          }
        }
      }
    }
  }
  &__search {
		@include flex-center;
    border: 1px solid #417a82;
		margin-top: auto;
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }
}
