$font-main: 'PT Sans', sans-serif;
$font-secondary: 'Cormorant', serif;
$font-third: 'Cormorant Infant', serif;

$container-width: 1200px;

$color-main: #052e4c;
$color-white: #fff;
$color-pink: #b84c74;
$color-dark-green:#417a82;

$bg-pink: #b84c74;
$bg-light-green: #e3f6f5;
$bg-light: #f2f6f7;
$bg-white: #fff;
$bg-dark-green: #417a82;
$bg-dark-blue: #052e4c;
$bg-black: #262626;
