$font-main: 'PT Sans', sans-serif;
$font-secondary: 'Cormorant', serif;

$container-width: 1120px;

$color-main: #052e4c;
$color-white: #fff;
$color-pink: #b84c74;
$color-dark-green:#417a82;

$bg-pink: #b84c74;
$bg-light-green: #e3f6f5;
$bg-light: #f2f6f7;
$bg-white: #fff;
