@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.sales {
  margin-bottom: 130px;

  &__inner {
    max-width: 1280px;
    margin-left: 0px;
    height: 604px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $bg-light;
    padding-left: 184px;
    @include section-label("Акции", -5px, 88px, 300px, $color-main);

    @include tablet {
      height: auto;
      padding-left: 0;
      padding-top: 40px;
      @include section-label("Акции", 200px, 350px, 300px, $color-main);
    }

    @include small {
      @include section-label("Акции", 250px, 150px, 300px, $color-main);
    }
  }

  &__item {
    display: flex;
    gap: 48px;
    align-items: center;
    @include tablet {
      flex-direction: column-reverse;
    }
  }

  &__media {
    width: 544px;
    position: relative;
    @include mobile {
      width: 500px;
    }
    @include small {
      width: 100%;
    }
  }


  &__tag {
    @include flex-center;
    position: absolute;
    top: 16px;
    left: -32px;
    background-color: $bg-pink;
    padding: 8px;
    color: $color-white;
    width: max-content;
    font-weight: 300;
    font-size: 13px;
    font-family: $font-main;
    line-height: 1;
    height: 33px;
    @include mobile {
      left: 0;
    }
  }

  &__info {
    background-color: $bg-dark-blue;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      font-family: $font-third;
      font-weight: 500;
      font-size: 25px;
      line-height: 100%;
      text-transform: uppercase;
      color: $color-white;
      max-width: 300px;
    }
    @include small {
      padding: 41px 41px 41px 20px;
    }
  }

  &__actions{
    &-button{
      svg path{
        fill: $color-white;
      }
    }
    &-counter{
      color: $color-white;
    }

    @include tablet {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 430px;
    @include small {
      width: 100%;
      padding: 0 20px;
    }
  }
  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 62px;
    line-height: 90%;
    letter-spacing: -0.03em;
    @include small {
      font-size: 40px;
    }
  }
  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__benefit {
    display: flex;
    gap: 28px;
    align-items: flex-start;
    &-icon {
      flex: 0 0 auto;
    }
    &-name {
      max-width: 350px;
    }
  }
  @include mobile {
    margin-bottom: 48px;
  }
}
