@use "../utils/variables" as *;
@use "../utils/mixins" as *;
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  color: $color-main;
  font-size: 16px;
  line-height: 1;
  overflow-x: hidden;
}
body.sidebar-open {
  overflow: hidden;
}

body.sidebar-open::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.wrapper {
  display: flex;
  position: relative;
}

.main {
  flex: 1;
  overflow-x: hidden;
}
.main.open-nav {
  margin-left: 72px;
  @include tablet {
    margin-left: 0;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 40px;
  @include small {
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.slider-controls {
  display: flex;
  gap: 15px;
  align-items: center;

  &__button {
    @include hover {
      svg path {
        fill: $color-pink;
      }
    }
  }
}
.counter {
  @include flex-center;
  width: 16px;
  height: 16px;
  background-color: $bg-pink;
  border-radius: 100%;
  color: $color-white;
  font-size: 12px;

  position: absolute;
  top: -5px;
  right: -2px;
}
